.search-input-container {
  width: 100%;
  margin-bottom: 20px;
}
.from-search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 10px;
  width: 100%;
}

.search-input {
  padding: 8px;
  width: 40%;
  border-radius: 10px;
  color: black;
}

.from-search button {
  background-color: var(--color-secondary);
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.from-search button svg {
  font-size: 1.1rem;
}
